{% extends 'base.html' %}
{% block content %}
<style>

table {
      
      float: left;
      margin-left: 10px;
      margin-right: 10px;
    }
td{
  height: 30px;
  
}

#d01{
 margin-top: 30px;
 margin-bottom: 30px;
}

#content{
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
}
</style>
</head>
<body>

  <div id=D01 class="container">
 <p>PlateNumb={{bb[-1]}}</p> 
 <p>PositionLon={{Lon[-1]}}</p> 
  <p>PositionLat= {{Lat[-1]}}</p> 


 
      <form method="POST" action="/car">

        <select name="Gcity" method="GET" action="/">
            <option  selected></option>
            {% for d in Bus[:] %}
              <option value="{{d}}">{{d}}</option>
            {% endfor %}
              </select>
              <input type="submit" value ="Submit">
            </form>
        

<hr>
{% if aa =='0' %}  

    {% for key, value in getAll.items() %}
  

  
  <table >
          {% if key == 'PlateNumb' %}
          {% for PlateNumbpost in value %}
          <tr>
            <td>{{ PlateNumbpost}}</td> 
          </tr>
          {% endfor %}
          {% endif %}
  
          {% if key == 'PositionLon' %}  
          {% for PositionLonpost in value %}
          <tr>
            <td>{{ PositionLonpost}}</td>  
          </tr>
          {% endfor %}
          {% endif %}
  
          {% if key == 'PositionLat' %}  
          {% for PositionLatpost in value %}
          <tr>
            <td>{{ PositionLatpost}}</td>  
          </tr>
          {% endfor %}
          {% endif %}
  
          
  
  
          </table>
        </div> 
     {% endfor %}      
  
     {% endif %}

{% endblock %}